<!DOCTYPE html>
<html>
<head>
  <title>SkinnyPins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:shortened_id].present? %>
  <p>
    Your shortened url has been created:
    <%= link_to 'here', url_url(flash[:shortened_id]) %>.
  </p>
<% end %>
<%= yield %>

</body>
</html>
